.doc_comments {
  font-size: 14px;
  color: #f1aaaa;
  margin-top: 30px;
  padding: 35px 0 45px;
}

.doc_comments .comments_block_title {
  color: #000000;
}

.v .vwrap {
  border-radius: unset;
  margin-top: 15px;
    overflow: visible
}

.v .veditor {
  min-height: 4.75rem;
  min-width: 4.75rem;
}

.v .vwrap .vheader .vinput {
  border: da;
}

.v .vbtn {
  color: #010101;
  background-color: #ffdee3;
  border: none;
}

.v .vbtn:active,
.v .vbtn:hover {
  color: #010101;
  border-color: #000000;
  background-color: #f1aaaa;
}

.v .power {
  display: none !important;
}

.v .vlist .vcard .vhead .vsys{
  display: none !important;
  background-color: #fff !important;
}

.v .vlist .vcard .vhead .vnick{
  color: #070707;
  font-size:16px;
}
.v .vlist .vcard .vhead .vnick:active,
.v .vlist .vcard .vhead .vnick:hover{
  color: #d47b8a;
}
.v .vlist .vcard .vh .vmeta .vat{
    color: #070707 !important;
    background-color: #ffe6e6;
    font-size: 13px !important;
    border-radius: 3px !important;
}
.v .vlist .vcard .vh .vmeta .vat:active,
.v .vlist .vcard .vh .vmeta .vat:hover {
  color: #d47b8a;
}
