.doc_comments {
  font-size: 14px;
  color: #f1aaaa;
  margin-top: 30px;
  padding: 35px 0 45px;
}

.doc_comments .comments_block_title {
  color: #000000;
}

.v .vwrap {
  border-radius: unset;
  margin-top: 15px;
}

.v .veditor {
  min-height: 4.75rem;
  min-width: 4.75rem;
}

.v .vwrap .vheader .vinput {
  border: da;
}

.v .vbtn {
  color: #010101;
  background-color: #f1aaaa;
  border: none;
}

.v .vbtn:active,
.v .vbtn:hover {
  color: #010101;
  border-color: #000000;
  background-color: #ffdee3;
}
