.bg-teal {
  background-color: #f1aaaa;
}

.teal {
    color: #f1aaaa;
}

.hover-teal:hover, 
.hover-teal:focus { color: #f1aaaa; }

.post-content a, .comment-content a {
    color: #212121;
}

.mv-auto {
    margin-left: auto;
    margin-right: auto;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-title {
    font-family: 'East Sea Dokdo', cursive;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #f1aaaa;
  margin: 0.25em 15px;
  padding: 0.25em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

::selection {
  background-color: #FDEDEC;
  color: #000;
}

  /* if desktop */
    .mobilenav {
        display: none;
    }

    /* if mobile device max width 480px */
    @media screen and (max-width: 600px) {
       .mobilenav {display: block;}
       .desktopnav {display: none;}
    }
