<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ba69257af2b02fead88264126761e5dc705481220cc76243a6a2755769c5f4b5</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
