{{ define "main" -}}
{{ $baseurl := .Site.BaseURL }}

<div class="w-100 ph2 ph0-ns w-100-m w-60-l center">

    <h3 class="f3 f2-ns lh-title">{{ .Title }}</h3>
        <footer class="f5 f5-ns gray">Posted: {{ .Date.Format "Jan 2, 2006" }}

                <span class="f5">
                    {{ if isset .Params "bookmarks" -}}
                        {{ $tagsLen := len .Params.bookmarks }}
                            {{ if gt $tagsLen 0 -}}
                                {{ range $k, $v := (sort .Params.bookmarks) -}}
                                    <a href="{{ $.Site.BaseURL }}bookmarks/{{ . | urlize | lower }}"
                                        class="link gray hover-moon-gray br-pill ph1 ph2-l mr1 mr2-l"><i class="fas fa-tag"></i>  {{ . }}</a>
                            {{- end }}
                        {{- end }}
                    {{- end }}
                </span>
        </footer>

        <div class="post-content f5 f5-ns w-100-l lh-copy"> {{ .Content }}</div>
</div>

      {{ if .Site.Params.valine.enable }}
      {{ partial "comments.html" . }}
      {{ end }}

{{- end }}
