{{ define "main" -}}
{{ $baseurl := .Site.BaseURL }}
{{ $img := .Site.Params.imgurl }}
    {{ partial "breadcrumb.html" . }}
<section class="cf w-100 pa2-ns mt1">
{{ range .Data.Pages  }}
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">

    {{ with .Params.cover }}

        <img src=" https://apfbvvpren.cloudimg.io/width/400/n/{{ $img }}{{ . }}" srcset="https://apfbvvpren.cloudimg.io/height/256/n/{{ $img }}{{ . }} 1x, https://apfbvvpren.cloudimg.io/height/384/n/{{ $img }}{{ . }} 1.5x, https://apfbvvpren.cloudimg.io/height/512/n/{{ $img }}{{ . }} 2x,
        https://apfbvvpren.cloudimg.io/height/768/n/{{ $img }}{{ . }} 3x
        https://apfbvvpren.cloudimg.io/height/1200/n/{{ $img }}{{ . }} 1200w" class="db bg-center cover aspect-ratio--object">
    </div>  
        {{ end }}

                <a href="{{ .Permalink }}" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f5-ns mb0 near-black hover-teal">{{ .Title }}</h3>
                    <h3 class="f6 f5 fw4 mt2 black-60">{{ with .Params.description }}{{ . }}{{ end }}</h3>
                </a>


    </article>
{{ end -}}
</section>



{{ end -}}